.loginPage{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    
}

.loginFormBox{
    width: 500px;
    height: fit-content;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    box-sizing: border-box;
    padding: 24px;
    border-radius: 8px;
    margin: 0 auto;

}

.formStack{
    height: 100%;
    width: 100%;
}